<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFp_P2ks_zfGc3Kr8KhyFIGOBGSBXlyfk</string>
	<key>GCM_SENDER_ID</key>
	<string>256978391124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ejder.com.InstagramClone-Firebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-88bff</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-88bff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256978391124:ios:f184833812ea8e5554ddc1</string>
</dict>
</plist>